.u-section-1 .u-sheet-1 {
  min-height: 480px;
}

.u-section-1 .u-image-1 {
  width: 448px;
  height: 448px;
  margin: 16px auto;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 372px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}

.u-section-2 .u-text-1 {
  margin-bottom: 60px;
}